snippet task "Project task definition"
- ${1:task_name}:
  - project_id: ${2:project_id}
  - partner_id: ${3:partner_id}
  - user_id: ${4:user_id}
  - reviewer_id: ${5:reviewer_id}
  - planned_hours: ${6:planned_hours}
  - date_deadline: ${7:date_deadline}
  - description: ${8:description}
  - priority: ${9:priority} endsnippet
